:root {
  --primary-color: #ea54e3;
  --secondary-color: #f99df5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 72px;
  color: #ffdbff;
}

h2 {
  font-size: 48px;
  opacity: 0.7;
}

h3 {
  font-size: 30px;
  opacity: 0.7;
  color: #ffdbff;
}

h4 {
  font-size: 24px;
  color: var(--primary-color);
}

p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
}

footer {
  background: var(--secondary-color);
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.header {
  background: black;
  padding: 120px;
}

.app-info {
  text-align: start;
}

.lady-grey,
.weather-image,
.weather-react-image {
  border-radius: 20px;
}

.project-link {
  color: white;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  text-align: center;
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.app-images {
  padding: 20px;
}

.lovelies,
.weather,
.weather-react {
  padding: 42px;
}

.icons {
  font-size: 36px;
  color: var(--primary-color);
}

.shecodes-link {
  text-decoration: none;
  color: black;
}

.headshot {
  border-radius: 50%;
}

.certificate {
  display: flex;
  justify-content: center;
}

.certificate-image {
  box-shadow: var(--box-shadow);
  margin: 0px 10px 5px;
}

.contact {
  background: var(--secondary-color);
  border-radius: 6px;
}

.lets-connect {
  text-align: start;
}

.icons-contact {
  font-size: 36px;
  color: var(--primary-color);
  text-decoration: none;
}
